<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Jornadas Laborales del Alumno</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #A6BDA9;
        }
        .footer {
            width: 100%;
            text-align: center;
            position: fixed;
            bottom: 0px;
            font-size: 12px;
        }
        .pagenum:before {
            content: counter(page);
        }
    </style>
</head>
<body>
    <h1>MYACADEMY MANAGER</h1>
    <h3>Jornadas de {{ profesor.usuario.nombre }} {{profesor.usuario.apellidos}}</h3>
    <h3>ID de Profesor: {{ profesor.id }}</h3>
    <table>
        <thead>
            <tr>
                <th>Dia</th>
                <th>Hora Inicio</th>
                <th>Hora Fin</th>
            </tr>
        </thead>
        <tbody>
            {% for j in jornadas %}
                <tr>
                    <td>{{ j.dia|date('d-m-Y') }}</td>
                    <td>{{ j.inicio|date('H:i:s') }}</td>
                    <td>{{ j.fin|date('H:i:s') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
     <div class="footer">
        <p>Informe generado por MyAcademy Manager: {{ "now" | date("d-m-Y H:i") }}</p>
        <p>Página <span class="pagenum"></span></p>
    </div>
</body>
</html>
